<a href="#/admin/newsport" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New sport
</a>
<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>sport name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="sport in sports">
        <td>{{sport.id}}</td>
        <td>{{sport.name}}</td>
        <td>
            <button ng-click="update(sport)" class="btn btn-primary"
                    type="submit">Edit
            </button>
        </td>
    </tr>
    </tbody>
</table>