<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <h1 id="sporteventmanager">Sport Event Manager</h1>
    <p>Create an information system allowing sportsmen to sign up for a sporting event. As an example, let's consider a system
        for registration of swimmers in a swimming competition. The system should store details about the competition, individual
        competitors and their results in the competition. It should be able to present people taking part in each competition
        and the results they achieved. The system should handle multiple types of sport simultaneously. Consider Sport, Sportsman
        and Event as basic entities in your application.</p>
    <h3 id="team-members">Team Members</h3>
    <p>
        <strong>Team No. 4</strong>
    </p>
    <ul>
        <li>Petra Halová</li>
        <li>Martin Šmíd</li>
        <li>Jiří Tobiáš (team leader)</li>
    </ul>
</body>

</html>