<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Gender</th>
        <th>Birthday</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td>{{user.id}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.birthdate | date:'MMMM d yyyy'}}</td>
    </tr>
    </tbody>
</table>